@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-light: 32.7 42.3% 89.8%;
    --brand-dark: 186 79.5% 17.3%;

    --foreground: var(--brand-dark);
    --background: var(--brand-light);

    --card: 32 36% 96%;
    --card-foreground: var(--brand-dark);

    --popover: 32 36% 96%;
    --popover-foreground: var(--brand-dark);

    --primary: var(--brand-dark);
    --primary-foreground: var(--brand-light);

    --secondary: 0 20.6% 37.1%;
    --secondary-foreground: var(--brand-light);

    --tertiary: 32 28% 90%;
    --tertiary-foreground: var(--brand-dark);

    --subtle: 32 30% 93%;
    --subtle-foreground: var(--brand-dark);

    --muted: 32 25% 92%;
    --muted-foreground: 186 15% 32%;

    --accent: 32 28% 90%;
    --accent-foreground: var(--brand-dark);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 32 18% 78%;
    --input: 32 22% 88%;
    --ring: var(--brand-dark);

    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: var(--brand-light);
    --primary-foreground: var(--brand-dark);

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --tertiary: 0 0% 20%;
    --tertiary-foreground: 0 0% 98%;

    --subtle: 0 0% 18%;
    --subtle-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: var(--brand-light);
  }
}

::selection {
  background-color: hsl(var(--brand-light) / 0.35);
  color: hsl(var(--foreground));
}

html,
body {
  font-family: var(--font-inter), system-ui, sans-serif;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 6px;
  scrollbar-color: hsl(var(--brand-dark)) transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--brand-dark));
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.gradient {
  background: conic-gradient(from 230.29deg at 51.63% 52.16%, hsl(var(--brand-dark)) 0deg, hsl(var(--brand-light)) 120deg, hsl(var(--brand-dark)) 240deg, hsl(var(--brand-light)) 360deg);
}

.not-found {
  box-shadow: hsl(var(--brand-dark) / 0.35) 5px 5px;
}
