@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-light: 35.5 40.7% 89.4%;
    --brand-dark: 0 20.2% 36.9%;

    --foreground: var(--brand-dark);
    --background: var(--brand-light);

    --card: 0 0% 100%;
    --card-foreground: var(--brand-dark);

    --popover: 0 0% 100%;
    --popover-foreground: var(--brand-dark);

    --primary: var(--brand-dark);
    --primary-foreground: var(--brand-light);

    --secondary: 35 30% 93%;
    --secondary-foreground: var(--brand-dark);

    --tertiary: 35 26% 88%;
    --tertiary-foreground: var(--brand-dark);

    --subtle: 35 22% 92%;
    --subtle-foreground: var(--brand-dark);

    --muted: 35 20% 92%;
    --muted-foreground: 0 10% 40%;

    --accent: 35 28% 90%;
    --accent-foreground: var(--brand-dark);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 35 20% 82%;
    --input: 35 20% 84%;
    --ring: var(--brand-dark);

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: var(--brand-light);
    --primary-foreground: var(--brand-dark);

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --tertiary: 0 0% 20%;
    --tertiary-foreground: 0 0% 98%;

    --subtle: 0 0% 18%;
    --subtle-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: var(--brand-light);
  }
}

::selection {
  background-color: hsl(var(--brand-light) / 0.35);
  color: hsl(var(--foreground));
}

html, body {
  font-family: "Inter", sans-serif !important;
}

::-webkit-scrollbar {
  width: 6px;
  scrollbar-color: hsl(var(--brand-dark)) transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--brand-dark));
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.gradient {
  background: conic-gradient(from 230.29deg at 51.63% 52.16%, hsl(var(--brand-dark)) 0deg, hsl(var(--brand-light)) 120deg, hsl(var(--brand-dark)) 240deg, hsl(var(--brand-light)) 360deg);
}

.not-found {
  box-shadow: hsl(var(--brand-dark) / 0.35) 5px 5px;
}
